@import url("header.css");
@import url("navbar.css");
@import url("sidebar.css");
@import url("cards.css");
@import url("buttons.css");
@import url("responsive.css");

:root{

    --amazon-dark:#131921;
    --amazon-nav:#232F3E;
    --amazon-orange:#FF9900;
    --amazon-yellow:#FEBD69;

    --bg:#EAEDED;
    --white:#FFFFFF;
    --text:#0F1111;
    --border:#D5D9D9;

    --success:#007600;

    --radius:12px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:var(--bg);
}